.button-blue-default {
  background: var(--color-blue);
  border: solid 1px var(--color-blue);
  height: 41px;
  width: 142px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-white);
}
.button-blue-default-enable {
  opacity: 0.8;
}

.button-white-default {
  background: var(--color-white);
  border: solid 1px var(--color-blue);
  height: 41px;
  width: 142px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-blue);
}
.button-red-default {
  background: var(--color-white);
  border: solid 1px var(--color-red);
  padding: 11px 26px;


  font-weight: 700;
  font-size: 18px;
  color: var(--color-red);
}
.button-green-default {
  background: var(--color-green);
  border: solid 1px var(--color-green);
  padding: 11px 26px;


  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
}

.button-hidden {
  display: none;
}
